.Logo {
	background-color: white;
	padding: 8px;
	height: 100%; /* will be dynamically adjusted in the Toolbar and SideDrawer*/
	box-sizing: border-box;
	border-radius: 5px;
}

.Logo img {
	height: 100%;
}