* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*font-family: Arial, sans-serif;*/
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  /*font-size: 0.75em;*/
}

.global-wrapper {
  border-color: #33FFFF;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Borders are for debugging
main, div {
  border-width: 4px;
  border-style: solid;
  border-color: #A8A8A8;
}
*/


.title {
  border-color: #FF5555;
  background-color: #EEFFFF;
  height: 30px;
  width: 100%;
}

.flex-container {
  border-color: #FFFF55;
  display: flex;
}

.sidebar {
  background-color: #FFEEFF;
  border-color: #22FF22;
  width: 300px; /* Change this accordingly to accomodate your sidebar */
  height: calc(100vh - 30px); /* -30px is the height of .title (if div has borders, subtract more) */
  overflow: auto; /* Just in case the sidebar ever becomes long, it will become scrollable, independently of .main */
}

.main {
  border-color: #FF00FF;
  background-color: #FFFFDD;
  flex: 1;
  height: calc(100vh - 30px); /* -30px is the height of .title (if div has borders, subtract more) */
  overflow: auto;
}

.table-wrapper {
  border-color: #33FFFF;
  width: 1500px; /* This emulates the wide table */
  padding: 50px;
}
