.App .Layout {
  display: flex;
}

.App .Sidebar {
  background-color: #F2F2F2;
  border-right: 1px solid #D8D8D8;
  width: 220px;
  height: 100%;
  padding-left: 10px;
  overflow-y: auto; /* makes it vertically scrollable if necessary */
  height: 100vh; /* makes this dic the height of the screen */
}

.App .MainArea {
  padding-left: 5px;
  flex: 1;
  overflow: auto; /* makes it x and y scrollable if necessary */
  height: 100vh; /* makes this div the height of the screen */
}